body {
    font-family: 'Electrolize', sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.title {
    font-size: 40px;
}

.score-box {
    background-color: black; 
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    width: 150px;
}

.score {
    font-size: 50px;
}

.button-container {
    display: flex;
    padding: 20px;
    gap: 15px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}
